.Info {
  background: #ffffff;
  border: 1px solid #dadcde;
  border-radius: 12px;
  padding-block: 27px;
  &_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 27px 24px;
    border-bottom: 2px solid #dadcde;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.0016em;
      color: #13181e;
    }
    &_SVG {
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(8, 30, 64, 0.2);
      border-radius: 1000px;
      border: none;
      padding: 12.5px;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
  &_Details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 24px 0 24px;
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0016em;
        color: #13181e;
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0016em;
        color: #13181e;
      }
    }
  }
  &_Edit {
    &_Input {
      label {
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 0.0016em;
          color: #374253;
          margin-bottom: 8px;
        }
      }
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-auto-flow: dense;
      grid-column-gap: 24px;
      grid-row-gap: 20px;
      padding: 32px 25px;
    }
    &_Button {
      padding-left: 24px;
    }
  }
}
