.Footer {
  position: absolute;
  bottom: 0;

  margin-top: 20px;
  border-top: 2px solid #dadcde;
  padding-block: 12px;
  display: flex;
  align-items: center;
  // position: fixed;
  // bottom: 0;

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #302d2e;
  }
  a {
    display: inline-block;
    display: flex;
    align-items: center;
    img {
      margin-inline: 8px;
    }
    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: #14458d;
    }
  }
}
