.cover {
  background-color: #ffffff;
  width: 100%;
  padding-inline: 40px;
  // background-color: red;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 100vh;
}
