.dropdown {
  width: 300px;

  &Inner {
    background: rgb(128,204,40);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    &Text {
      background: rgb(243, 246, 249);
      border-radius: 10px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: rgb(128,204,40) !important;
        font-weight: bold;
      }
    }

    span {
      color: white;
      display: block;
    }
  }

  &Outer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;
    }

    &Icon {
      cursor: pointer;
      transition: 0.3s;
      background: rgb(243, 246, 249);
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background: rgb(255, 168, 0);
        transition: 0.3s;

        svg {
          path {

            fill: white;
            transition: 0.3s;

          }
        }
      }

      svg {
        font-size: 16px;

        path {
          fill: rgb(255, 168, 0);


        }
      }
    }
  }
}