.Permissions {
  background: #ffffff;
  border: 1px solid #dadcde;
  border-radius: 12px;
  &_Header {
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.0016em;
      color: #13181e;
      padding: 27px 24px;
      border-bottom: 2px solid #dadcde;
    }
  }
  &_Operation {
    padding: 32px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    label {
      cursor: pointer;
      display: flex;
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0016em;
        color: #252733;
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}
